doctype html
head
    meta(charset='UTF-8')
    |     
    title Sign-Up/Login Form
    |     
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600', rel='stylesheet', type='text/css')
    // <link rel="stylesheet" href="/css/normalize.css">
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css')
    |       
    link( rel='stylesheet', href='/css/style.css')
    // <link rel="stylesheet" href="/css/style.css">
    
body
    .form
      ul.tab-group
        li.tab.active
          a(href='#signup') Sign Up
        |         
        li.tab
          a(href='#login') Log In
      |       
      |       
      .tab-content
        #signup
          h1 Sign Up for Free
          |           
          |           
          form(action='/', method='post')
            .top-row
              .field-wrap
                label
                  | First Name
                  span.req *
                |               
                input(type='text', required='', autocomplete='off')
              |         
              |             
              .field-wrap
                label
                  | Last Name
                  span.req *
                |               
                input(type='text', required='', autocomplete='off')
            |           
            .field-wrap
              label
                | Email Address
                span.req *
              |             
              input(type='email', required='', autocomplete='off')
            |           
            |           
            .field-wrap
              label
                | Set A Password
                span.req *
              |             
              input(type='password', required='', autocomplete='off')
            |           
            |           
            button.button.button-block(type='submit') Get Started
        |         
        |         
        #login
          h1 Welcome Back!
          |           
          |           
          form(action='/', method='post')
            .field-wrap
              label
                | Email Address
                span.req *
              |             
              input(type='email', required='', autocomplete='off')
            |           
            |           
            .field-wrap
              label
                | Password
                span.req *
              |             
              input(type='password', required='', autocomplete='off')
            |           
            |           
            p.forgot
              a(href='#') Forgot Password?
            |           
            |           
            button.button.button-block Log In
      // tab-content
    // /form
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    |       
    script(src='/js/index.js')
    // <script src="js/index.js"></script>

